/* Basic Elements */
   
body {
  background-color: white;
  font-family: "Optima", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 20px;
  background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
  -webkit-background-clip: text;
  color: transparent;
  line-height: 40px;
  letter-spacing: 2px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

h1 {
  font-size: 30px;
  color:  rgb(23, 57, 39);
  letter-spacing: 4px;
}

.space {
  white-space: pre-wrap;
} 

/* images */
/* images */
/* images */

img {
  display: inline;
  margin: 20px;
  height: 120px;
  width: auto;
}

.plant {
  display: block;
  margin: auto;
  height: 200px;
  width: auto;
}

/* NavLink styling */
/* NavLink styling */
/* NavLink styling */


nav a {
  display: inline-block;
  border-bottom: none;
  color: black;
  text-decoration: none;
}

.enlarge {
  transition: transform .2s;
  margin: 10px;
}

.enlarge2{
  transition: transform .2s;
  margin: 100px;
}

.enlarge:hover,
.enlarge2:hover {
  transform: scale(2.1); 
}

nav a.active {
  border-bottom: none;
  transform: scale(2); 
  color: rgb(74, 103, 90);
}


#drinkNav {
  padding-top: 150px;
  margin: 5px;
}

#quizNav{
  margin: 40px;
  font-family: "Optima", sans-serif;
  font-size: 25px;
  letter-spacing: 6px;
  padding-top: 100px;
  padding-bottom: 20px;
}

/* Link Styling */

a.quizLink {
  display: block;
  border-bottom: none;
  color: rgb(7, 36, 21);
  background-color:transparent;
  text-decoration: none;
  text-align: left;
  margin-left: 140px;
  margin-right: auto;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Optima", sans-serif;
}

a.quizLink.hover {
  border-bottom: none;
  background-color:white;
  color: rgb(166, 186, 178);
}

/* Buttons */
/* Buttons */
/* Buttons */

.menuItem {
  text-align: center;
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: black;
  font-size: 25px;
  display: inline-block;
  transition-duration: 0.4s;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 4px;
  padding: 30px;
}
.menuItem:hover, 
.menuItem:focus {
  background-color:white;
  color: rgb(166, 186, 178);
}

.menuItem:focus {
  font-weight: bold;
}

.buttonSubmit {
  text-align: center;
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: rgb(7, 36, 21);
  padding: 40px;
  font-size: 20px;
  display: block;
  transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
}
.buttonSubmit:hover {
  background-color:white;
  color: rgb(166, 186, 178);
}

.buttonLogout {
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: rgb(7, 36, 21);
  padding: 40px;
  font-size: 20px;
  display: block;
  transition-duration: 0.4s;
  margin-right: 100px;
  margin-left: auto;
  letter-spacing: 2px;

}
.buttonLogout:hover {
  background-color:white;
  color: rgb(166, 186, 178);
}

/* Logon Form styling */
/* Logon Form styling */
/* Logon Form styling */

.login {
  font-size: 25px;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.input-login {
  width: 20%;
  padding: 20px;
  background-color: white;
}

input[type=text],
input[type=password] {
  border: none;
  /* border-bottom: 2px solid black; */
  font-size: 20px;
  font-family: "Optima", sans-serif;
  text-align:center;
  background-color: transparent
}

input[type=text]:focus,
input[type=date]:focus,
textarea:focus,
input[type=password]:focus {
  outline:none ;
}

::placeholder {
  color: rgb(166, 186, 178);
  font-family: "Optima", sans-serif;
  text-align:center
}


/* Miscellaneous Styling */
.topMargin {
  margin-top: 80px;
}
