/* Basic Elements */
   
body {
  background-color: white;
  font-family: "Optima", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 20px;
  background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
  -webkit-background-clip: text;
  color: transparent;
  line-height: 40px;
  letter-spacing: 1px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

h1 {
  font-size: 30px;
  color:  rgb(23, 57, 39);
  letter-spacing: 4px;
}

.space {
  white-space: pre-wrap;
} 

/* images */
/* images */
/* images */

img {
  display: inline;
  margin: 20px;
  height: 120px;
  width: auto;
}

.plant {
  display: block;
  margin: auto;
  height: 200px;
  width: auto;
}

/* NavBar styling */
/* NavBar styling */
/* NavBar styling */


nav a {
  display: inline-block;
  margin: 5px;
  border-bottom: none;
}

.enlarge {
  transition: transform .2s;
}

.enlarge:hover {
  transform: scale(2); 
}

nav a.active {
  border-bottom: none;
  transform: scale(1.8); 
}


#drinkNav {
  padding-top: 150px;
}

/* Buttons */
/* Buttons */
/* Buttons */

.menuItem {
  text-align: center;
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: black;
  font-size: 25px;
  display: inline-block;
  transition-duration: 0.4s;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 5px;
  padding: 20px;
}
.menuItem:hover, 
.menuItem:focus {
  background-color:white;
  color: rgb(166, 186, 178);
}

.menuItem:focus {
  font-weight: bold;
}

/* Miscellaneous Styling */
.topMargin {
  margin-top: 80px;
}
